<div class="col-md-4">
    <!-- Logo -->
    <div class="logo">
        <h1>@Html.ActionLink("Lahore Garrison University","Index","Home")</h1>
    </div>
</div>

<div class="col-md-8">
    <div class="navbar navbar-inverse" role="banner">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span>Menu</span>
            </button>
        </div>
        @Html.Partial("_LoginPartial")
    </div>
</div>

@*<nav class="collapse navbar-collapse navbar-right" role="navigation">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
                <li>@Html.ActionLink("Profile", "User", "Profile")</li>
                <li>@Html.ActionLink("Storage", "Account", "SignOut")</li>
                <li><a href="profile.html">Profile</a></li>
                <li><a href="login.html">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>*@