@{
    ViewBag.Title = "Home Page";
}

<div class="table-products section">
    <div class="row head">
        <div class="col-md-12">
            <h4>Products <small>Table sample</small></h4>
        </div>
    </div>

    <div class="row filter-block">
        <div class="col-md-8 col-md-offset-5">
            <div class="ui-select">
                <select>
                    <option>Filter users</option>
                    <option>Signed last 30 days</option>
                    <option>Active users</option>
                </select>
            </div>
            <input type="text" class="search">
            <a class="btn-flat new-product">+ Add product</a>
        </div>
    </div>

    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="col-md-3">
                        <input type="checkbox">
                        Product
                    </th>
                    <th class="col-md-3">
                        <span class="line"></span>Description
                    </th>
                    <th class="col-md-3">
                        <span class="line"></span>Status
                    </th>
                </tr>
            </thead>
            <tbody>
                <!-- row -->
                <tr class="first">
                    <td>
                        <input type="checkbox">
                        <div class="img">
                            <img src="img/table-img.png" alt="pic">
                        </div>
                        <a href="#">There are many variations </a>
                    </td>
                    <td class="description">
                        if you are going to use a passage of Lorem Ipsum.
                    </td>
                    <td>
                        <span class="label label-success">Active</span>
                        <ul class="actions">
                            <li><i class="table-edit"></i></li>
                            <li><i class="table-settings"></i></li>
                            <li class="last"><i class="table-delete"></i></li>
                        </ul>
                    </td>
                </tr>
                <!-- row -->
                <tr>
                    <td>
                        <input type="checkbox">
                        <div class="img">
                            <img src="img/table-img.png" alt="pic">
                        </div>
                        <a href="#">Internet tend</a>
                    </td>
                    <td class="description">
                        There are many variations of passages.
                    </td>
                    <td>
                        <ul class="actions">
                            <li><i class="table-edit"></i></li>
                            <li><i class="table-settings"></i></li>
                            <li class="last"><i class="table-delete"></i></li>
                        </ul>
                    </td>
                </tr>
                <!-- row -->
                <tr>
                    <td>
                        <input type="checkbox">
                        <div class="img">
                            <img src="img/table-img.png" alt="pic">
                        </div>
                        <a href="#">Many desktop publishing </a>
                    </td>
                    <td class="description">
                        if you are going to use a passage of Lorem Ipsum.
                    </td>
                    <td>
                        <ul class="actions">
                            <li><i class="table-edit"></i></li>
                            <li><i class="table-settings"></i></li>
                            <li class="last"><i class="table-delete"></i></li>
                        </ul>
                    </td>
                </tr>
                <!-- row -->
                <tr>
                    <td>
                        <input type="checkbox">
                        <div class="img">
                            <img src="img/table-img.png" alt="pic">
                        </div>
                        <a href="#">Generate Lorem </a>
                    </td>
                    <td class="description">
                        There are many variations of passages.
                    </td>
                    <td>
                        <span class="label label-info">Standby</span>
                        <ul class="actions">
                            <li><i class="table-edit"></i></li>
                            <li><i class="table-settings"></i></li>
                            <li class="last"><i class="table-delete"></i></li>
                        </ul>
                    </td>
                </tr>
                <!-- row -->
                <tr>
                    <td>
                        <input type="checkbox">
                        <div class="img">
                            <img src="img/table-img.png" alt="pic">
                        </div>
                        <a href="#">Internet tend</a>
                    </td>
                    <td class="description">
                        There are many variations of passages.
                    </td>
                    <td>
                        <ul class="actions">
                            <li><i class="table-edit"></i></li>
                            <li><i class="table-settings"></i></li>
                            <li class="last"><i class="table-delete"></i></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ul class="pagination">
        <li><a href="#">«</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">»</a></li>
    </ul>
</div>